[options]
admin_passwd = admin@31

addons_path = D:\learning_odoo\odoo\odoo-16.0\addons,
              D:\learning_odoo\odoo\odoo-16.0\odoo\addons,
              D:\learning_odoo\odoo\custom_addons,

bin_path = C:\Program Files\wkhtmltopdf\bin

xmlrpc_port = 8016

db_host = 127.0.0.1
db_user = odoo
db_password=odoo